.ef-textfield {
  $c: &;

  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  @include background-color($white);
  @include rounded(5px);

  &--border {
    @include border(all, 1px, solid, #ddd);
  }

  &--shadow {
    @include box-shadow-multi(
      0 5px 25px rgba(map-get($color-general, grey-dark), 0.1),
      0 10px 50px rgba(map-get($color-general, grey-dark), 0.05)
    );
  }

  &--reverse {
    flex-direction: row-reverse;

    #{$c}__input {
      @include padding(all, 10px 0px 10px 10px);
    }
  }

  &__input {
    @include padding(all, 10px 10px 10px 0px);
    @include no-border();
    @include font-face(
      $font-primary,
      map-get($color-general, grey-dark),
      20px,
      400,
      normal,
      none,
      none,
      20
    );

    letter-spacing: 1px;
    height: 60px;
    outline: 0;
  }

  &__label {
    @include padding(all, 7.5px 10px 7.5px);
  }
}
